<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="aa">
<head>
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>

<form th:action="@{/registration}" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirm Password:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" required>
    </div>
    <div class="form-group">
        <label>
            <select th:field="*{role}">
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_POSTS">Posts</option>
                <option value="ROLE_USERS">Users</option>
                <option value="ROLE_ALBUMS">Albums</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <button type="submit">Register</button>
    </div>
</form>

<p th:if="${passwordError}" th:text="${passwordError}" class="error"></p>
<p th:if="${usernameError}" th:text="${usernameError}" class="error"></p>

</body>
</html>